.header-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
}

.header-admin p,
h1 {
  margin: 0.5rem;
}

.fundo-content-admin h1 {
  color: #3498db;
}

.fundo-content-admin p {
  color: rgb(141, 137, 137, 0.59);
}

.table-admin {
  margin: 1rem 0;
  width: 70%;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
/* Cabeçalho: Pesquisa e Filtro */
.search-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#search-input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 15px;
}

.filter-btn {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color: #555;
}

/* Tabela */

.user-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.user-table th,
.user-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.user-table #nome {
  text-align: left;
}

.user-table thead {
  border-top-left-radius: 5px;
  color: white;
}
.user-table tbody {
  max-width: 100%;
}

.user-table th {
  font-weight: bold;
}

.user-table th.sortable {
  cursor: pointer;
}

/* Estilo do botão de excluir */
#button{
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.bi-trash {
    color: red;
    margin-right: 0.3rem;
}

#excluir{
    color: red;
}

/* Estilos para Status (Ativo/Inativo) */
.status {
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  text-align: center;
  min-width: 60px;
}

.btn-tipo {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
}

#cadastrar-categoria-btn {
  text-decoration: none;
  color: #3498db;
  border: 1px solid #3498db;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
}

#cadastrar-categoria-btn:hover {
  background-color: #3498db;
  color: white;
}
