.header-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
}

.header-admin p, h1 {
  margin: 0.5rem;
}

.fundo-content-admin {
  width: 100%;
  min-width: 0; /* Impede o Flexbox de estourar no mobile */
  box-sizing: border-box;
}

.fundo-content-admin h1 {
  color: #3498db;
  font-weight: bold;
}

.fundo-content-admin p {
  color: rgba(141, 137, 137, 0.59);
  font-weight: bold;
}

.table-admin {
  margin: 1rem 0;
  width: 70%;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Cabeçalho de Ações/Busca */
.search-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color: #555;
}

/* Ações genéricas */
#button {
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.bi-trash {
  color: red;
  margin-right: 0.3rem;
}

#excluir {
  color: red;
}

.btn-tipo {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
}

#cadastrar-categoria-btn {
  text-decoration: none;
  color: #3498db;
  border: 1px solid #3498db;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
}

#cadastrar-categoria-btn:hover {
  background-color: #3498db;
  color: white;
}

@media (max-width: 768px) {
  .search-field {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    box-sizing: border-box;
  }
}
