/* MeusDados.css */
.meus-dados-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #fff;
    border-bottom: 2px solid #dad9d9;
}

.logo-meus-dados {
    width: 80px;
    margin-left: 10px;
}

.title-meus-dados {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #008CBA;
}

.meus-dados-container {
    max-width: 800px;
    margin: 3% auto;
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  /* Foto de perfil */
  .user-profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .user-profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Ícone de edição na foto */
  .edit-icon-profile-pic {
    position: absolute;
    top: 70px;
    right: 10px;
    background: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Informações do usuário */
  .meus-dados-content {
    background: #fff;
    border-radius: 8px;
    margin: 6%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
}
  
  .user-info p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .titulo-dados-pessoais {
    font-weight: bold;
    color: #333;
  }
  
  /* Botão de editar ao lado de cada campo */
  .edit-profile-button {
    background: none;
    border: none;
    color: #3498DB;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30px;
    margin: 1% auto;
}

.edit-profile-button:hover p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.edit-profile-button:hover .edit-icon-profile {
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

  .edit-icon-profile {
    width: 16px;
    margin: 5px;
  }

  .edit-profile-button:hover{
    stroke: #333;
  }
  
  /* Botão voltar */
  .back-button {
    width: 20%;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px; 
    /* height: 20%; */
    padding: 1.5%;
    background-color: #3498DB;
    border: none;
    color: #fff;
}
  .back-button:hover {
    background: #1972b5;
  }