body.active-modal {
  overflow-y: hidden;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  padding: 10px;
  margin: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  border-radius: 4px;
  border: 2px solid #3498db;
  max-width: 610px;
  min-width: 500px;
  color: #3498db;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
button {
  margin: 20px;
}

.div-botoes {
  display: flex;
  justify-content: center;
}

.botao-branco {
  text-decoration: none;
  color: #3498db;
  border: 1px solid #3498db;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
  transition-duration: 0.4s;
}
.botao-branco:hover {
  background-color: #3498db;
  color: white;
  cursor: pointer;
}
.botao-azul {
  text-decoration: none;
  color: white;
  border: 1px solid #3498db;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #0088b7;
  transition-duration: 0.4s;
}
.botao-azul:hover {
  background-color: white;
  color: #0088b7;
  cursor: pointer;
}

.div-form {
  text-align: left;
  width: 70%;
  padding: 0px;
}

.div-form > input,
textarea {
  width: 100%;
  padding: 3px;
  margin: 0;
  margin-bottom: 10px;
  border: 2px solid rgb(141, 137, 137, 0.09);
  background-color: rgb(206, 212, 218, 0.9);
}

label {
  margin: 0px;
}

.required::after {
  content: "*";
  color: red;
}
