.cadastro-duvida-container {
  width: 100%;
  height: 100%;
}

.cadastro-duvida-user-icon {
  font-size: 36px;
  color: #008cba;
}

.cadastro-duvida-form {
  display: flex;
  flex-direction: column;
}

.cadastro-duvida-form-group {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 70%;
  height: 100%;
}

.cadastro-duvida-label {
  font-size: 14px;
  color: #008cba;
  margin-bottom: 2px;
}

.cadastro-duvida-input {
  width: 50%;
  padding: 10px;
  border: 2px solid #008cba;
  border-radius: 4px;
}

.cadastro-duvida-titulo {
  width: 100%;
  border: 2px solid #008cba;
  border-radius: 4px;
  margin-bottom: 2%;
  text-decoration: #153a8a;
  padding: 10px;
}
.cadastro-duvida-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 2px solid #008cba;
  border-radius: 4px;
  margin-bottom: 2%;
  text-decoration: #153a8a;
}

.cadastro-duvida-buttons {
  display: flex;
  justify-content: center;
  width: 300px;
}

.cadastro-duvida-button {
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  font-weight: 500;
  background-color: #fff;
  color: #008cba;
  border: 1px solid #008cba;
}

#cancel-button:hover {
  background-color: #ff8989;
  font-weight: 600;
  color: rgb(142, 14, 14);
}
#save-button:hover {
  background-color: #89ff8d;
  font-weight: 600;
  color: rgb(0, 107, 21);
}

.cadastro-duvida-footer {
  text-align: center;
  margin-top: 20px;
}

.cadastro-duvida-logo {
  width: 50px;
}

.user-profile-pic-signup {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

