/* Definição geral da página */
.body-cadastro {
    margin: 0;
    padding: 0;
    background: var(--gradiente-card);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


/* Container principal */
.signup-container-cadastro {
    display: flex;
    flex-direction: row;
    width: 890px;
    min-height: 50px;
    background: var(--gradiente-fundo);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    margin:35px;
}

.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px; /* <-- Aumente/diminua conforme necessário */
}

.text-form{
    color:grey;
    font-size: 0.8rem;
}
/* Estilos para o texto de descrição e footer no painel esquerdo */
.description-text {
  font-size: 1.3em; /* Tamanho da fonte como na imagem */
  font-weight: bold;
  color: #2c7bb1; 
  line-height: 1.5;
  margin-bottom: auto; /* Empurra o footer para baixo */
  margin-top: 20px; /* Espaço acima do texto de descrição */
  padding: 0 10px; /* Pequeno padding para evitar que o texto encoste nas laterais se for muito longo */
}

/* Divisão central */
.signup-divider-cadastro {
    width: 1.2px;
    background-color: #3498DB;
    height: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

/* Lado esquerdo - Logo */
.signup-left-panel-cadastro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui o conteúdo com espaço entre eles */
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
    height: 100%;
}

/* Estilo da imagem do painel esquerdo */
.signup-logo-cadastro {
    width: 220px;
    height: auto;
    margin-bottom: 1px;
}


.footer-text {
  font-size: 0.85em; /* Tamanho da fonte */
  color: #2c7bb1; 
  margin-top: auto; /* Empurra para o final da seção */
  padding-bottom: 20px; /* Espaço acima da borda inferior do container */
  font-weight: bold;
}

/* Lado direito - Formulário */
.signup-right-panel-cadastro {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-title-cadastro {
    color: #3498DB;
    text-align: center;
    margin-bottom: 10px;
}

/* Estilo do formulário */
.form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

/*.label-cadastro {
    width: 90%;
    font-size: 12px;
    color: #3498DB;
    text-align: left;
    margin:1px;
}*/

.input-cadastro[type="text"],
.input-cadastro[type="email"],
.input-cadastro[type="tel"],
.input-cadastro[type="password"] {
    width: 90%; /* Ajustado para 90% do form, menos 20px de padding horizontal */
    padding: 8px;
    margin-bottom: 10px;
    border: 3px solid #3498DB;
    border-radius: 3px;
    font-size: 12px;
    box-sizing: border-box;
}

.button-cadastro {
  width: 35%; /* Ajustado para 90% do form, menos 20px de padding horizontal */
  padding: 13px; /* Seu padding */
  background-color: #3498DB; /* Sua cor */
  color: #fff;
  border: none;
  border-radius: 6px; /* Seu border-radius */
  font-size: 20px; /* Seu font-size */
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px; /* Seu margin-top */
  box-sizing: border-box; /* Garante que padding não adicione à largura total */
  transition: background-color 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.button-cadastro:hover {
    background-color: #196292;
}

/* Estilo do logo UFMS no rodapé */
.signup-ufms-logo-cadastro {
    width: 60px;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* Estilo para o texto "Já possui uma conta? Realizar login" */
.register-text {
  font-size: 0.9em;
  color: #555;
  margin-top: 15px;
  text-align: center;
}

.register-text .register-link {
  color: #3498DB;
  text-decoration: none;
  font-weight: bold;
}

.register-text .register-link:hover {
  text-decoration: underline;
}

.success-message {
    color: #008000;
    background-color: #e6ffe6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
  }
  .error-message {
    color: #ff0000;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
  }

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .signup-container-cadastro {
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .signup-divider-cadastro {
        display: none;
    }

    .signup-left-panel-cadastro,
    .signup-right-panel-cadastro {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .signup-logo-cadastro {
        margin-top: -5px;
        margin-bottom: -30px;
        width: 90px;
    }

    .signup-right-panel-cadastro h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .signup-right-panel-cadastro {
        padding: 20px;
    }

    .input-cadastro[type="text"],
    .input-cadastro[type="email"],
    .input-cadastro[type="tel"],
    .input-cadastro[type="password"],
    .button-cadastro {
        width: calc(100% - 30%);
        font-size: 12px;
        padding:7px;
    }

    .label-cadastro {
        font-size: 12px;
        text-align: center;
    }

    .signup-ufms-logo-cadastro {
        width: 50px;
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px) {

    .signup-right-panel-cadastro h2 {
        font-size: 16px;
    }

    .input-cadastro[type="text"],
    .input-cadastro[type="email"],
    .input-cadastro[type="tel"],
    .input-cadastro[type="password"],
    .button-cadastro {
        width: calc(100% - 35%);
        font-size: 12px;
        padding:7px;
    }

    .label-cadastro {
        font-size: 12px;
        text-align: center;
    }

    .signup-logo-cadastro {
        margin-top: -20px;
        margin-bottom: -10px;
        width: 90px;
    }

    .signup-ufms-logo-cadastro {
        width: 40px;
        margin-top: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}