#button {
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

i {
  /*margin nos icones*/
  margin-right: 0.3rem;
}

.btn-modal-excluir {
  padding: 2px 0px 0px 0px;
  display: inline-block;
  margin: 0;
  color: red;
  border: none;
  background-color: inherit;
}

.btn-modal-editar {
  padding: 2px 0px 0px 0px;
  display: inline-block;
  margin: 0 0 0 10px;
  color: #ff4500;
  border: none;
  background-color: inherit;
}

.btn-modal-excluir:hover,
.btn-modal-editar:hover {
  cursor: pointer;
}

p {
  display: inline;
  font-weight: bold;
}
