.page-container-details {
  width: 70%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 20px;
}

.details-form-wrapper {
  width: 60%;
  margin: 0 auto;
}

/* Campos do Formulário */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  font-weight: 500;
}

.input-read-only {
  width: 100%;
  padding: 12px 15px;
  background-color: #F3F4F6;
  border: 1px solid #E5E7EB;
  border-radius: 6px;
  color: #555;
  font-size: 15px;
  outline: none;
  cursor: not-allowed;
  box-sizing: border-box;
}

/* Botões de Ação */
.actions-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  gap: 15px;
  flex-wrap: wrap;
}

.btn-action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 18px;
  background-color: white;
  border: 1px solid #3498db;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #3498db;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-action:hover {
  background-color: #F0F8FF;
}

.bi-slash-circle {
  color: red;
}

.bi-pencil {
  color: gray;
}

.perfil {
  padding: 4px 16px;
  font-weight: bold;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  color: #000;
  margin-bottom: 10px;
  font-weight: 600;
}
